{% extends 'base.html' %}
{% load static %}

{% block title %}
{{titulo}}
{% endblock %}


{% block main %}
 <br> <button class="btn btn-success"  onclick="location.href='/'">Home</button><br><br>

      <ul class="list-group">
            {% for mov in movimentos %}
                <li class="list-group-item">
                    Data entrada: {{ mov.data_entrada }}<br>
                    Data saída: {{ mov.data_saida}} <br>
                    Veiculo: {{ mov.id_veiculo.placa }}<br>
                    Valor: {{ mov.valor_hora.valor }}<br>
                    Total: {{ mov.total }}<br>
                    <a href="{% url 'url_atualiza_movimento' mov.id %}"class="btn btn-primary">Editar</a>&emsp;
                    <a href="{% url 'url_exclui_movimento' mov.id %}"class="btn btn-danger">Excluir</a>&emsp;
                </li>
            {% endfor %}
      </ul>
{% endblock %}